.card form{
    border: 2px solid black; 
    margin-top: 0;
    margin-right:30%;
    margin-bottom:0px;
    margin-left:20%;
    padding: 50px;
    width: 400px;
    
}
.card{
    padding:20px;
    margin-left: 300px;
    margin-right:40px;
    width:700px;
    background-image: url(../images/cd3.jpg);  
}
.jumbotron{
    margin-top:10px;
    background-image: url(../images/gh3.jpg);
}
body{
    background-image: url("../images/gh2.jpg");
}
